body{
    background-color: #f7f7f7;
}

.veg{
    background-color: lightgreen;
}

.spicy{
    background-color: coral;
}

.baked{
    background-color: beige;
}

#everything{
    align-items: center;
    width: 100vw;
    }

#bigCard{
    width: 600px;
}

#foodGroup{
    width: 95vw;
}

#foodGrid{
    gap: 35px;
}

.foodCard{
    height: 240px;
}

.foodCard *{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}